<% @posts.each do |postdata| %>
<div>
  <%= link_to post_path(postdata.id) do %>
    <p>発行番号：<%= postdata.id %></p>
  <% end %>
  <p>投稿した画像：<%= image_tag postdata.get_image %></p>
  <p>ショップ名：<%= postdata.shop_name %></p>
  <p>説明：<%= postdata.caption %></p>
  <p>ユーザー番号：<%= postdata.user_id %></p>
  <p>ユーザー画像：<%= image_tag postdata.user.get_user_image(100,100) %></p>
  <p>ユーザー名：<%= postdata.user.name %></p>
  <p><%= link_to "#{postdata.comments.count} コメント", post_path(postdata.id) %></p>
  <p>_______________________________</p>
</div>
<% end %>
